@model Cheques.RegistroSolicitudCheque

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RegistroSolicitudCheque</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroSolicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroSolicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuentaContableInterna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuentaContableInterna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedores.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedores.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedores1.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedores1.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
